# Workflow to build and deploy a VitePress site to GitHub Pages
name: Deploy VitePress Site to GitHub Pages

on:
  # Trigger on push to the main or dev branches
  push:
    branches: [main, dev]

  # Allow manual workflow dispatch from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

# Limit concurrent deployments to avoid conflicts
concurrency:
  group: deploy-pages
  cancel-in-progress: false

jobs:
  build:
    env:
      VITE_SITEURL: ${{ secrets.VITE_SITEURL }}
      VITE_COMMENT_URL: ${{ secrets.VITE_COMMENT_URL }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Remove Comments from Code Files
        run: |
          # Remove single-line and multi-line comments in JavaScript/TypeScript files
          find ./src -type f -name "*.js" -exec sed -i '/^\s*\/\//d' {} +
          find ./src -type f -name "*.js" -exec sed -i '/\/\*/,/\*\//d' {} +

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install Dependencies
        run: npm ci # Faster installation with a clean state

      - name: Build VitePress Site
        run: npm run docs:build

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/.vitepress/dist

  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
